* { box-sizing: border-box; }

.header-main {
  font-family: sans-serif;
  font-size: 45px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  background-color: rgb(44, 153, 181);
  height: 2rem;
  padding: 3rem 5rem 8rem 12rem;
}

.header-profiles {
  font-family: sans-serif;
  font-size: 45px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  background-color: rgb(44, 153, 181);
  height: 2rem;
  padding: 3rem 5rem 8rem 12rem;
  z-index: -1

}

.hidden {
  position: relative;
  left: -10000px;
  top: auto;
}

.hidden:focus {
  left: 0;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 21px;
  color: white;
  z-index: 1
}

h2 {
  color: #22768C;
  font-weight: bold;
  font-size: 24px;
}

h3 {
  text-transform: uppercase;
  position: inherit;
}

h4 {
  font-family: Verdana, sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: #7D859C;

}

nav.intro {
  font-family: Arial;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: darkslategray;
  background-color: #dddddd;
  padding: 1rem 10rem 1rem 12rem;
}

nav a {
  padding: .5rem;
  margin: .5rem;
}

body {
  font-family: Arial;
  font-size: 18px;
}

.aside-main {
  float: right;
  padding: 1.5rem 12rem 6rem 11rem;
}

.aside-profiles {
  float: right;
  padding: 1.5rem 12rem 5rem 11rem;
}

p.double-space {
  line-height: 2;
}

.sidebar-cat {
  position: relative;
  right: 40px;
}

.main {
  padding: 1rem 20rem 1rem 12rem;
  line-height: 2;
}

a {
  color: rgb(36, 182, 214);
}

.callout {
  color: rgb(36, 182, 214);
  font-size: 28px;
  position: inherit;
}

footer {
  font-family: sans-serif;
  color: #ffffff;
  font-size: 13px;
  text-align: center;
  background-color: #403c3b;
  height: 2rem;
  padding: 3rem 5rem 20rem 7rem;
  clear: right;
}
